{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="text-center">
            <h1 class="text-white"><strong>Cantella Admin Panel</strong></h1>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="{{ url_for('static', filename='assets/user.png') }}" alt="User Management" height="250">
                        <div class="card-body">
                            <h5 class="card-title">User Management</h5>
                            <p class="card-text">
                                <ol>
                                    <li>Add, remove, or modify users</li>
                                </ol>
                            </p>
                            <a href="#" class="btn btn-primary">Manage Users</a>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
{% endblock %}
