{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
<div class="text-center">
    <h1 class="text-white mb-4"><strong>Cantella Admin Panel</strong></h1>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card p-3 shadow-lg" style="border-radius: 15px;">
                <img class="card-img-top mx-auto d-block" 
                     src="{{ url_for('static', filename='assets/user.png') }}" 
                     alt="User Management" 
                     style="width: 50%;">
                <div class="card-body text-center">
                    <h5 class="card-title">User Management</h5>
                    <p class="card-text">
                        <ol class="text-start">
                            <li>Add, remove, or modify users</li>
                        </ol>
                    </p>
                    <a href="https://cantella.stu.nighthawkcodingsociety.com/users/table2" class="btn btn-primary d-block mx-auto">Manage Users</a>
                </div>
            </div>
        </div>  
    </div>
</div>
{% endblock %}